h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}
.container{
    border: 1px solid #3b1414;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
.headerView{
    background: #e8e7e7;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 50px;
}


.todoStyle li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #9b4dca;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 14px;
}

.todoStyle li button{
    margin-bottom: 0;
    font-size: 14px;
}

.topPart{
    display: flex;
    align-items: center;
}

.topPart input{
    margin-right: 20px;
}